{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<br>
<div class="container text-left">
<h6>
<a href="https://stepik.org" target="_blank">
    <img src="{% static 'portfolio/stepik_logo.svg' %}" height="50" title="Stepik">
</a>
    is an online educational platform where I started learning Python in 2021.
    During this time, I took courses on various topics: Linux, HTML and CSS, SQL, Django - but the main focus has always been Python.

    <br><br>I practice my Python-skills on CodeWars.
</h6>

<h2 class="mt-5 text-left">Skills:</h2>
<hr>
    <h4>Python 3
        <a href="https://stepik.org/cert/969906" target="_blank">
        <img src="{% static 'portfolio/Sertificate.png' %}" height="32" title="Сертификат BEEGEEK 1"></a>
        <a href="https://stepik.org/cert/1341435" target="_blank">
        <img src="{% static 'portfolio/Sertificate.png' %}" height="32" title="Сертификат BEEGEEK 2"></a>
        <a href="https://stepik.org/cert/1824085" target="_blank">
        <img src="{% static 'portfolio/Sertificate.png' %}" height="32" title="Сертификат BEEGEEK 3"></a>
        <a href="https://stepik.org/cert/1582865" target="_blank">
        <img src="{% static 'portfolio/Sertificate.png' %}" height="32" title="Сертификат BioInformatics Institute"></a>
        <a href="https://stepik.org/cert/1596193" target="_blank">
        <img src="{% static 'portfolio/Sertificate.png' %}" height="32" title="Сертификат Илья Фофанов"></a>
    </h4>
<hr>
    <h4>
        SQL (PostgreSQL)
        <a href="https://stepik.org/cert/1523595" target="_blank">
        <img src="{% static 'portfolio/Sertificate.png' %}" height="32" title="Сертификат ДВФУ"></a>
        <a href="https://stepik.org/cert/2002785" target="_blank">
        <img src="{% static 'portfolio/Sertificate.png' %}" height="32" title="Сертификат Илья Фофанов"></a>
    </h4>
<hr>
    <h4>
        Django 3 (This site is made entirely with Django)
    </h4>
<hr>
    <h4>
        HTML 5
    </h4>
<hr>
</div>
{% endblock %}